@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#top {
  padding-top: 100px;
}

#top-page-img {
  width: 100%;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: white;
  height: 150px;
}